@tailwind base;
@tailwind components;
@tailwind utilities;

  @keyframes moveToCenter {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  .animate-moveToCenter {
    animation: moveToCenter 1s ease-out;
  }


  ::-webkit-scrollbar {
    display: none;
  }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.scroll-indicator {
  position: fixed; /* Ensure it's fixed relative to the viewport */
  bottom: 2rem; /* Adjust as needed */
  left: 49%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  border-radius: 50%; /* Circular shape */
  padding: 0.5rem; /* Size of the indicator */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: shadow */
  z-index: 1000; /* Ensure it's above other content */
 /*animation: bounce 1.5s infinite;  Apply bounce animation */
}





/* Add this to your styles.css or global styles file */
.scrollbar-custom {
  scrollbar-width: thin; /* Makes the scrollbar thinner in Firefox */
  scrollbar-color: #ff6347 #f0f0f0; /* Sets thumb and track color for Firefox */
}

/* Webkit-based browsers (Chrome, Safari, etc.) */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
  height: 12px; /* Scrollbar height for horizontal scroll */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #f0f0f0, #e0e0e0); /* Gradient for scrollbar track */
  border-radius: 10px; /* Rounded corners for track */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ff6347; /* Thumb color */
  border-radius: 10px; /* Rounded corners for thumb */
  border: 3px solid #e0e0e0; /* Adds padding around the thumb */
  transition: background-color 0.3s ease; /* Adds smooth transition for thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #ff4500; /* Darker color on hover */
}

/* For vertical scrollbars */
.scrollbar-custom::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(180deg, #ff6347, #ff4500); /* Gradient for vertical thumb */
}

/* For horizontal scrollbars */
.scrollbar-custom::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, #ff6347, #ff4500); /* Gradient for horizontal thumb */
}